body{
	text-align: center;
	/*background-color: gray;*/
}
figure{
	    height: 500px;
    width: 1000px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.main{
	height: 400px;
	width: 230px;
	
	display: inline-block;
	position: relative;


}
.main:hover{
	border: 1px solid #ececec;
}
.img-div{
	height: 250px;
    width: 230px;
    background-size: cover;
}
.kolor{
	    height: 34px;
    position: absolute;
    left: 13px;
    width: 200px;
    border-bottom:  1px solid #ececec;
}
.inter{
	position: absolute;
	left: 0px;
	top: 10px;
}
.p1{
	position: absolute;
	left: 8px;
	bottom:  50px;
	font-weight: bold;
}
.p2{
	
	position: absolute;
	left: 8px;
	bottom:  30px;
	color: #c2c2c2;
	font-weight: bold;
}
.p3{

	position: absolute;
	left: 8px;
	bottom:  0px;
	color: #c2c2c2;
	font-weight: bold;
}




